<header class="modal-header">
  <a href="#" class="close" rel="close">×</a>
  {{view.header}}
</header>
<section class="modal-body">{{view.body}}</section>
{{#if view.footer}}
<footer class="modal-footer">
  {{view.footer}}
</footer>
{{/if}}